$colore-rosa: #ffc0cb;
$colore-arancione: orange;
$colore-lightblue: lightblue;
@mixin header-footer {
    width: 100%;
    height: 90px;
    line-height: 90px;
    background-color: $colore-rosa;
    span:hover {
        color: $colore-arancione;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    max-width: 1170px;
    height: 100vh;
    margin: auto;
    text-align: center;
    header {
        @include header-footer;
    }
    main {
        display: flex;
        line-height: 500px;
        .sx, .dx, .centrale {
            height: 500px;
        }
        .sx, .dx {
            width: 20%;
            background-color: $colore-lightblue;
            span:hover {
                cursor: pointer;
                color: $colore-rosa;
            }
        }
        .centrale {
            flex-grow: 1;
            background-color: $colore-arancione;
            span:hover {
                color: $colore-lightblue;
            }
        }
    }
    footer {
        @include header-footer;
    }
}